@model Pwa.Application.Contracts.Account.User.AuthDto

@{
    ViewData["Title"] = "ایجاد کاربر";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsAdmin" class="control-label"></label>
                    <input asp-for="IsAdmin" class="form-control" />
                    <span asp-validation-for="IsAdmin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ایجاد" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">بازگشت به لیست</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}