///------------------------font
$font_family: Dana;
$second_font_family: "Lalezar", cursive;
$font_size: 15px;

///-------------------------color

$white: #ffffff;
$black: #000000;

$purple500: #7140e0;
$purple600: #744cc7;

$gold200: #ffd046;

$red100: #c60000;

$green100: #06de6f;

$lightBlue500: #d8e8ff;

$darkBlue100: #162341;
$darkBlue200: #25314d;

$blue350: #1492e6;
$blue400: #905fff;
$blue500: #0142ff;
$blue550: #0242fe;

$gray50: #f3f4f6;
$gray100: #f3f4f5;
$gray120: #d2d4da;
$gray150: #cecece;
$gray300: #737c8c;
$gray200: #f5f5f5;
$gray250: #eeeeee;
$gray300: #d1d1d1;
$gray400: #666666;
$gray500: #575757;
$gray550: #505050;
$gray580: #c2c2c2;
$gray600: #333;
$gray650: #f0f0f0;
$pink300: #f487a3;

$pink500: #f34572;
$dark100: #f8f8f8;
$dark200: #404040;
$dark300: #a5a5a5;
$dark400: #e2e2e2;
$dark500: #848484;
