<section class="invite_friends">
    <div class="container">
        <div class="content">
            <div class="text">
                <h4>از دوستان خود دعوت کنید تا از داریا pwa استفاده کنند</h4>
                <form asp-action="InviteFriend">
                    <input type="text" name="phoneNumber" placeholder="شماره تلفن خود را وارد کنید" required />
                    <button>ارسال</button>
                </form>
            </div>
        </div>
    </div>
</section>