@model List<CategoryQueryModel>

<div class="categories">
    <h3>دسته بندی ها</h3>
    <div class="items">
        @foreach (var category in Model)
        {
            <div class="item">
                <input class="form-check-input" asp-for="@category.IsChecked">
                <label>@category.Title</label>
            </div>
        }
    </div>

     <!--<div class="items">
        <form asp-action="List" asp-route-page="1" method="get">
            @foreach (var category in Model)
            {
                <div class="item">
                    <button type="submit" class="form-check-input" name="search" value="@category.Title">
                        @category.Title
                    </button>
                </div>
            }
        </form>
    </div>-->
</div>