@model List<CategoryQueryModel>

<div class="categories">
    <h3>دسته بندی ها</h3>
    <div class="items">
        @foreach (var category in Model)
        {
            <div class="item">
                <input type="checkbox" class="form-check-input" name="search" id="title" value="@category.Title">
                <label for="title">@category.Title</label>
            </div>
        }
    </div>
</div>