@model Pwa.Application.Contracts.Account.User.UserDto
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="/lib/Photos/@Model.ProfileUrl" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a href="#" class="d-block">@Model.UserName</a>
    </div>
</div>