@using WebFramework.Utilities
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Main/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/Main/css/style.css">
    <title>@ViewData["Title"]</title>
</head>

<body class="linear__background">
    <section class="authentication">
        <div class="container">
            <div class="wrapper">
                <nav>
                    <div class="logo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34.638" height="29.392"
                             viewBox="0 0 34.638 29.392">
                            <g id="medium" transform="translate(0 -29.8)">
                                <path id="Path_1" data-name="Path 1"
                                      d="M272.675,61.4l-10.668-5.128-.08-23.248a.735.735,0,0,1,1.054-.665l10.114,4.863a.735.735,0,0,1,.417.663v22.99A.583.583,0,0,1,272.675,61.4Z"
                                      transform="translate(-238.873 -2.268)" fill="#fff"></path>
                                <path id="Path_2" data-name="Path 2"
                                      d="M143.206,54.006,131.66,48.454l11.115-18.3a.735.735,0,0,1,.947-.281L153.978,34.8a.735.735,0,0,1,.309,1.046Z"
                                      transform="translate(-120.072 0)" fill="#e4e4e4"></path>
                                <path id="Path_3" data-name="Path 3"
                                      d="M32.654,59.785,21.108,54.234,10.525,37a.565.565,0,0,1,.726-.8l9.857,4.74Z"
                                      transform="translate(-9.52 -5.779)" fill="#d3d3d3"></path>
                                <path id="Path_4" data-name="Path 4"
                                      d="M10.752,60.342.33,55.33A.583.583,0,0,1,0,54.8V31.689a.565.565,0,0,1,.809-.509l10.779,5.183V59.816A.583.583,0,0,1,10.752,60.342Z"
                                      transform="translate(0 -1.207)" fill="#c4c4c4"></path>
                            </g>
                        </svg>
                        <h1>داریا pwa</h1>
                    </div>
                    <div class="navigate__back">
                        @if (Url.ActionContext.HttpContext.Request.Path.StartsWithSegments(UrlPathRequest.UserLogin) ||
                           Url.ActionContext.HttpContext.Request.Path.StartsWithSegments(UrlPathRequest.UserRegister))
                        {
                            <a asp-action="Index" asp-controller="Home">
                                <span>بازگشت</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="8.437" height="14.308"
                                viewBox="0 0 8.437 14.308">
                                    <g id="next" transform="translate(7.674 13.428) rotate(179)">
                                        <g id="Path_97" data-name="Path 97" transform="translate(0)" fill="#fff">
                                            <path d="M 0.3577101826667786 13.04208946228027 C 0.1661901921033859 13.04208946228027 -0.02237980999052525 12.96335029602051 -0.1596498042345047 12.82606029510498 C -0.298509806394577 12.68721008300781 -0.3749998211860657 12.50300025939941 -0.3749898076057434 12.30739974975586 C -0.3749998211860657 12.11178970336914 -0.298509806394577 11.92757987976074 -0.1596298068761826 11.78870964050293 L 5.295855522155762 6.33321475982666 L -0.1596398055553436 0.8777099251747131 C -0.298509806394577 0.738849937915802 -0.3749998211860657 0.5546399354934692 -0.3749898076057434 0.3590399324893951 C -0.3749998211860657 0.16342993080616 -0.298509806394577 -0.02078006975352764 -0.1596298068761826 -0.1596500724554062 C -0.02075980976223946 -0.2985200583934784 0.1634401828050613 -0.3750000596046448 0.3590402007102966 -0.3750000596046448 C 0.5546401739120483 -0.3750000596046448 0.7388401627540588 -0.2985200583934784 0.8777201771736145 -0.1596500724554062 L 6.853229999542236 5.815869808197021 C 6.991530418395996 5.954159736633301 7.067200183868408 6.138679981231689 7.06626033782959 6.335410118103027 C 7.065330028533936 6.532089710235596 6.987820148468018 6.715929985046387 6.848030090332031 6.853079795837402 L 0.8764063715934753 12.82474422454834 C 0.7413511872291565 12.9629373550415 0.552609920501709 13.04208946228027 0.3577101826667786 13.04208946228027 Z"
                                    stroke="none" />
                                            <path d="M 0.3590412139892578 2.86102294921875e-06 C 0.2674574851989746 2.86102294921875e-06 0.175875186920166 0.03517532348632813 0.1055302619934082 0.1055202484130859 C -0.03516960144042969 0.2462100982666016 -0.03516960144042969 0.4718503952026367 0.1055302619934082 0.6125497817993164 L 5.826189994812012 6.3332200050354 L 0.1055302619934082 12.053879737854 C -0.03516960144042969 12.19456958770752 -0.03516960144042969 12.42020988464355 0.1055302619934082 12.56091022491455 C 0.1745400428771973 12.6299295425415 0.2674603462219238 12.66708946228027 0.3577103614807129 12.66708946228027 C 0.4479703903198242 12.66708946228027 0.5408802032470703 12.6325798034668 0.6098999977111816 12.56091022491455 L 6.585410118103027 6.585400104522705 C 6.726109981536865 6.447360038757324 6.726109981536865 6.219069957733154 6.58806037902832 6.081029891967773 L 0.6125602722167969 0.1055202484130859 C 0.5422101020812988 0.03517532348632813 0.4506254196166992 2.86102294921875e-06 0.3590412139892578 2.86102294921875e-06 M 0.3590402603149414 -0.75 C 0.6548099517822266 -0.75 0.9331903457641602 -0.6345100402832031 1.142889976501465 -0.4248104095458984 L 7.118390083312988 5.550699710845947 C 7.328000068664551 5.760300159454346 7.442670345306396 6.039619922637939 7.44126033782959 6.3371901512146 C 7.439846038818359 6.633511543273926 7.323373317718506 6.910748481750488 7.113214015960693 7.118256092071533 L 1.143654823303223 13.087815284729 C 0.9384989738464355 13.29719352722168 0.652590274810791 13.41708946228027 0.3577103614807129 13.41708946228027 C 0.06747007369995117 13.41708946228027 -0.2177596092224121 13.29831027984619 -0.424839973449707 13.09119987487793 C -0.6345100402832031 12.88152980804443 -0.75 12.60315990447998 -0.75 12.3073902130127 C -0.75 12.01161003112793 -0.6345000267028809 11.733229637146 -0.4247798919677734 11.52353000640869 L 4.765530586242676 6.333219528198242 L -0.424799919128418 1.142879486083984 C -0.6345100402832031 0.9331703186035156 -0.75 0.6547994613647461 -0.75 0.3590297698974609 C -0.75 0.06324958801269531 -0.6345000267028809 -0.2151298522949219 -0.4247798919677734 -0.424830436706543 C -0.2151398658752441 -0.6345005035400391 0.06325006484985352 -0.75 0.3590402603149414 -0.75 Z"
                                    stroke="none" fill="#fff" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        }

                        else if (Url.ActionContext.HttpContext.Request.Path.StartsWithSegments(UrlPathRequest.UserVerifyAccount))
                        {
                            <a asp-action="Login" asp-controller="User">
                                <span>بازگشت</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="8.437" height="14.308"
                                     viewBox="0 0 8.437 14.308">
                                    <g id="next" transform="translate(7.674 13.428) rotate(179)">
                                        <g id="Path_97" data-name="Path 97" transform="translate(0)" fill="#fff">
                                            <path d="M 0.3577101826667786 13.04208946228027 C 0.1661901921033859 13.04208946228027 -0.02237980999052525 12.96335029602051 -0.1596498042345047 12.82606029510498 C -0.298509806394577 12.68721008300781 -0.3749998211860657 12.50300025939941 -0.3749898076057434 12.30739974975586 C -0.3749998211860657 12.11178970336914 -0.298509806394577 11.92757987976074 -0.1596298068761826 11.78870964050293 L 5.295855522155762 6.33321475982666 L -0.1596398055553436 0.8777099251747131 C -0.298509806394577 0.738849937915802 -0.3749998211860657 0.5546399354934692 -0.3749898076057434 0.3590399324893951 C -0.3749998211860657 0.16342993080616 -0.298509806394577 -0.02078006975352764 -0.1596298068761826 -0.1596500724554062 C -0.02075980976223946 -0.2985200583934784 0.1634401828050613 -0.3750000596046448 0.3590402007102966 -0.3750000596046448 C 0.5546401739120483 -0.3750000596046448 0.7388401627540588 -0.2985200583934784 0.8777201771736145 -0.1596500724554062 L 6.853229999542236 5.815869808197021 C 6.991530418395996 5.954159736633301 7.067200183868408 6.138679981231689 7.06626033782959 6.335410118103027 C 7.065330028533936 6.532089710235596 6.987820148468018 6.715929985046387 6.848030090332031 6.853079795837402 L 0.8764063715934753 12.82474422454834 C 0.7413511872291565 12.9629373550415 0.552609920501709 13.04208946228027 0.3577101826667786 13.04208946228027 Z"
                                    stroke="none" />
                                            <path d="M 0.3590412139892578 2.86102294921875e-06 C 0.2674574851989746 2.86102294921875e-06 0.175875186920166 0.03517532348632813 0.1055302619934082 0.1055202484130859 C -0.03516960144042969 0.2462100982666016 -0.03516960144042969 0.4718503952026367 0.1055302619934082 0.6125497817993164 L 5.826189994812012 6.3332200050354 L 0.1055302619934082 12.053879737854 C -0.03516960144042969 12.19456958770752 -0.03516960144042969 12.42020988464355 0.1055302619934082 12.56091022491455 C 0.1745400428771973 12.6299295425415 0.2674603462219238 12.66708946228027 0.3577103614807129 12.66708946228027 C 0.4479703903198242 12.66708946228027 0.5408802032470703 12.6325798034668 0.6098999977111816 12.56091022491455 L 6.585410118103027 6.585400104522705 C 6.726109981536865 6.447360038757324 6.726109981536865 6.219069957733154 6.58806037902832 6.081029891967773 L 0.6125602722167969 0.1055202484130859 C 0.5422101020812988 0.03517532348632813 0.4506254196166992 2.86102294921875e-06 0.3590412139892578 2.86102294921875e-06 M 0.3590402603149414 -0.75 C 0.6548099517822266 -0.75 0.9331903457641602 -0.6345100402832031 1.142889976501465 -0.4248104095458984 L 7.118390083312988 5.550699710845947 C 7.328000068664551 5.760300159454346 7.442670345306396 6.039619922637939 7.44126033782959 6.3371901512146 C 7.439846038818359 6.633511543273926 7.323373317718506 6.910748481750488 7.113214015960693 7.118256092071533 L 1.143654823303223 13.087815284729 C 0.9384989738464355 13.29719352722168 0.652590274810791 13.41708946228027 0.3577103614807129 13.41708946228027 C 0.06747007369995117 13.41708946228027 -0.2177596092224121 13.29831027984619 -0.424839973449707 13.09119987487793 C -0.6345100402832031 12.88152980804443 -0.75 12.60315990447998 -0.75 12.3073902130127 C -0.75 12.01161003112793 -0.6345000267028809 11.733229637146 -0.4247798919677734 11.52353000640869 L 4.765530586242676 6.333219528198242 L -0.424799919128418 1.142879486083984 C -0.6345100402832031 0.9331703186035156 -0.75 0.6547994613647461 -0.75 0.3590297698974609 C -0.75 0.06324958801269531 -0.6345000267028809 -0.2151298522949219 -0.4247798919677734 -0.424830436706543 C -0.2151398658752441 -0.6345005035400391 0.06325006484985352 -0.75 0.3590402603149414 -0.75 Z"
                                    stroke="none" fill="#fff" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        }
                    </div>
                </nav>
                <main>
                    <div class="wrapper">
                        <div class="authentication__card">
                            @RenderBody()
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </section>
    <script src="/Main/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", false)
</body>

</html>
