@model Pwa.Application.Contracts.Account.Role.EditRoleDto

@{
    ViewData["Title"] = "ویرایش نقش";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DisplayName" class="control-label"></label>
                    <input asp-for="DisplayName" class="form-control" />
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ویرایش" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">بازگشت به لیست</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}